
body{
margin:0;
font-family: 'Segoe UI', sans-serif;
background:#0c0f14;
color:white;
}

.bg{
display:flex;
justify-content:center;
}

.login-box{
margin-top:100px;
background:#141821;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0 0 25px rgba(0,255,136,0.2);
}

.container{
width:100%;
max-width:420px;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
}

.card{
padding:20px;
border-radius:20px;
margin-bottom:15px;
}

.green{
background:linear-gradient(135deg,#00ff88,#004d30);
}

.orange{
background:linear-gradient(135deg,#ff7b00,#5a1c00);
}

button{
width:100%;
padding:12px;
margin:8px 0;
border:none;
border-radius:12px;
background:#ff3c00;
color:white;
font-weight:bold;
}

input{
width:100%;
padding:10px;
border-radius:10px;
border:none;
margin:5px 0;
}
